modules = ["nodejs-20", "python-3.12", "web", "postgresql-16"]
run = "npm run dev"
hidden = [".config", ".git", "generated-icon.png", "node_modules", "dist"]

[nix]
channel = "stable-25_05"

[[ports]]
localPort = 5000
externalPort = 80

[env]
PORT = "5000"

[deployment]
deploymentTarget = "autoscale"
run = ["node", "./dist/index.cjs"]
build = ["npm", "run", "build"]

[workflows]
runButton = "Project"

[[workflows.workflow]]
name = "Project"
mode = "parallel"
author = "agent"

[[workflows.workflow.tasks]]
task = "workflow.run"
args = "Start application"

[[workflows.workflow]]
name = "Start application"
author = "agent"

[workflows.workflow.metadata]
outputType = "webview"

[[workflows.workflow.tasks]]
task = "shell.exec"
args = "cd /home/runner/workspace && npm run dev"
waitForPort = 5000

[agent]
integrations = ["javascript_openai_ai_integrations:2.0.0"]
expertMode = true

[userenv]

[userenv.shared]
S3_BUCKET = "discreen"
S3_REGION = "auto"
SKIP_S3_SYNC = "true"
R2_DATA_PREFIX = "data-files/"
DISCORD_CLIENT_ID = "1469419752492630270"
S3_ENDPOINT = "https://d9566dc34b3f229355e29719a447eab4.r2.cloudflarestorage.com"
S3_ACCESS_KEY_ID = "4081c1725d53ad987faec9c0cec49530"
S3_SECRET_ACCESS_KEY = "906a3534924d5aa4f01dc56fe7e08b9aad086d860cbffb56d7a3a2247754a714"
DISCORD_BOT_LOGS_WEBHOOK_URL = "https://discord.com/api/webhooks/1471656598668710101/MJ50IU7knvFWw0jvGydr5gc7k_Bzc4GFN5MpeJI9aqrUMN3p1w0zWsFSavnJMhrJWqTm"
USE_R2_SEARCH = "true"
VPS_SEARCH_URL = "http://81.17.101.243:5050"
