modules = ["nodejs-20", "python-3.12", "web"]
run = "npm run dev"
hidden = [".config", ".git", "generated-icon.png", "node_modules", "dist"]

[nix]
channel = "stable-25_05"

[[ports]]
localPort = 5000
externalPort = 80

[env]
PORT = "5000"

[deployment]
deploymentTarget = "autoscale"
run = ["node", "./dist/index.cjs"]
build = ["npm", "run", "build"]

[workflows]
runButton = "Project"

[[workflows.workflow]]
name = "Project"
mode = "parallel"
author = "agent"

[[workflows.workflow.tasks]]
task = "workflow.run"
args = "Start application"

[[workflows.workflow]]
name = "Start application"
author = "agent"

[workflows.workflow.metadata]
outputType = "webview"

[[workflows.workflow.tasks]]
task = "shell.exec"
args = "npm run dev"
waitForPort = 5000

[agent]
integrations = ["javascript_openai_ai_integrations:2.0.0"]
expertMode = true

[userenv]

[userenv.shared]
S3_BUCKET = "discreen"
S3_REGION = "auto"
SKIP_S3_SYNC = "true"
R2_DATA_PREFIX = "data-files/"
DISCORD_CLIENT_ID = "1469419752492630270"
S3_ENDPOINT = "https://d9566dc34b3f229355e29719a447eab4.r2.cloudflarestorage.com"
S3_ACCESS_KEY_ID = "af501b5251d5644a9e19cb60ab1d0546"
S3_SECRET_ACCESS_KEY = "9c31a43e498eea8c7c18a99df9ef302d66c71fbabd52e57c345673f91f4b44a4"
